@charset "UTF-8";
@font-face {
    font-family: Netflix-font;
    src: url(../fonts/BebasNeue.otf);
}
:root{
    --principal: #E50914;
    --secundario: #141414;
    --conteudo: #CCC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secundario);
    color: white;
}
.container{
    margin-left: 30px;
}
/*Header*/
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
header .container .principal{
    display: flex;
    align-items: center;
}
header .container .secundario{
    display: flex;
    align-items: center;
}
header .container .secundario img{
    margin: 0 15px;
    cursor: pointer;
}
header{
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    background-color: var(--secundario);
}
header .logo{
    color: var(--principal);
    font-family: "Netflix-font";
    font-size: 35px;
    margin-left: 20px;
    cursor: pointer;
}
header .container a{
    color: var(--conteudo);
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
}
header .container a:hover{
    transition: .5s;
    color: #AAA;
}
nav{
    margin-left:30px;
}
/*Main*/

.filme-principal{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%),url(../img/onepiece1000.jpg);
    height: 610px;
    background-size: cover;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.filme-principal .titulo{
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 5px var(--secundario);
}
.filme-principal .descricao{
    width: 600px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.filme-principal .botao{
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(0,0,0,.7);
    border: none;
    
}
.filme-principal .botao:hover{
    background-color: white;
    color: black;
    transition: .6s;
}
.filme-principal .botao i{
    margin-right: 10px;
}
.filme-principal .container{
    width: 60%;
}
.carrosel-filmes{
    margin: 10px 30px;
}

@media(max-width:725px){
    .filme-principal .titulo{
        font-size: 60px;
    }
    .filme-principal .botao{
        width: 350px;
    }
}
@media(max-width:630px){
    
}